@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes scale-in {
    0% {
      opacity: 0;
      transform: scaleY(0.9);
      transform-origin: top;
    }
    100% {
      opacity: 1;
      transform: scaleY(1);
      transform-origin: top;
    }
  }

  .animate-scale-in {
    animation: scale-in 0.2s ease-out;
  }
}
